@import url('https://js.arcgis.com/4.6/esri/css/main.css');

html,body, #root{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}



.map-view{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page{
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #f8f8f8;
}

.subPage{
  height: 100%;
  width: 100%;
}

.show{
  display: block;
}

.hidden{
  display: none;
}

.commentCard {
  .cardActions{
    button{
      width: 50%;
      margin: 0px!important;
    }
    .material-icons{
      font-size: 15px!important;
    }
  }
}

.flex{
  display: flex;
}


#splashView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  img {
    margin-bottom: 30px;
  }
}

#reportView {
  .welcomeContainer{
    height: 170px;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    .flex{
      flex-direction: row;
      align-items: flex-end;
      img{
        width: 35px;
        margin-right: 10px;
      }
    }
    .subHeader{
      width: 250px;
      text-align: center;
      margin-top: 15px;
    }
    flex-direction: column;
  }
  .actionContainer{
    .trackBtn{
      button{
        background: white;
        color: #26675B;
        .material-icon{
          color: #26675B;
        }
      }
    }
    .mapBtn{
      font-weight: 600;
      font-size: 14px;
      color: #26675B;
      letter-spacing: 0;
    }
  }
}




#mapUIView{
  .mapToggle{
    position: absolute;
    z-index: 10;
    right:0px;
  }
  .commentCard{
    position: absolute;
    z-index: 10;
    bottom: 0px;
    width: 100%;

  }
}

.thumbNailMap{
  height: 100%;
  .show{
    height: calc(100% - 400px)!important;
    width: 100%;
  }
}


// Text style


.header{
  font-weight: 600;
  font-size: 24px;
  color: rgba(0,0,0,0.87);
  line-height: 31px;
  margin: 0px;
}

.subHeader{
  font-weight: 400;
  font-size: 16px;
  color: rgba(0,0,0,0.54);
  line-height: 24px;
  margin: 0px;
}

.subHeader2{
  @extend .subHeader;
  font-weight: 600;
}
