@import url('https://js.arcgis.com/4.6/esri/css/main.css');

html,body, #root{
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}



.map-view{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page{
  display: flex;
  height: 100%;
  flex-direction: column;
  background: #f8f8f8;
}

.subPage{
  height: 100%;
  width: 100%;
}

.container{
  height: 100%;
  width: 100%;
}

.show{
  display: block;
}

.hidden{
  display: none;
}

.commentCard {
  position: relative;
  margin-bottom: 15px;
  min-height: 123px;
  .owl{
    position: absolute;
    top: -23px;
    left: 16px;
  }
  .cardActions{
    border-top: 1px solid rgba(0,0,0,.08);
    button{
      width: 50%;
      margin: 0px!important;
    }
    .material-icons{
      font-size: 15px!important;
    }
  }
  .flex{
    flex-direction: row;
    justify-content: space-between;
    .contentLeft{
      display: flex;
      flex-direction: column;
      padding-right: 20px;
      justify-content: space-between;
      width: 243px;
      .category{
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 5px;
      }
      .content{
        @extend .body1;
        margin-bottom: 5px;
      }
      .time{
        @extend .caption;
      }
      .status{
        @extend .caption;
      }
    }
    .contentRight{
      img{
        width: 80px;
        height: 80px;
      }
    }
  }
}

.flex{
  display: flex;
}


#splashView{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  img {
    margin-bottom: 30px;
  }
}

#reportView {
  .welcomeContainer{
    height: 150px;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    .flex{
      flex-direction: row;
      align-items: flex-end;
      img{
        width: 35px;
        margin-right: 10px;
      }
    }
    .subHeader{
      width: 250px;
      text-align: center;
      margin-top: 10px;
    }
    flex-direction: column;
  }
  .actionContainer{
    height: 85px;
    background: #f8f8f8;
    position: relative;
    .addBtn{
      position: absolute;
      right: 10px;
      top: -25px;
    }
    .orderBtn{
      position: absolute;
      right: 80px;
      top: -25px;
      button{
        background-color: white!important;
        .material-icons{
          fill: #26675B!important;
          color: #26675B!important;
        }
      }
    }
    .flex{
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 10px;
      position: absolute;
      width: calc(100% - 20px);
      bottom: 10px;
    }
    .mapBtn{
      font-weight: 600;
      font-size: 16px;
      color: #26675B;
      letter-spacing: 0;
      text-transform: uppercase;
    }
  }
  .commentList {
    height: calc(100% - 240px);
    overflow-y: auto;
  }


}

#addNewView{

  .newCommentPage{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.thumbNailPage{
      padding-top: 0px;
    }
    .thumbNailMap{
      height: 100%;
      width: 100%;
      .show{
        height: calc(100% - 180px)!important;
        width: 100%;
      }
    }
    .textFieldContainer>div {
      width: 100%!important;
    }
    .header{
      text-align: center;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 15px;
    }
    .previewImageContainer{
      margin-top: 50px;
    }
    .previewImage{
      width: 360px;
      height: 360px;
      display: block;
      margin: 0 auto;
    }
    .bottomBar{
      background: #F7F2E1;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
      position: fixed;
      height: 55px;
      padding: 0px 20px;
      width: calc(100% - 40px);
      bottom: 0px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button{
        min-width: 70px!important;
        >div{
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
      }
    }
    .textFieldContainer{
      width: 80%;
      margin: 30px auto 0px;
      >div{
        width: 100%;
      }
    }
    .uploadImageBtn {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
    .buttonLabel{
      @extend .buttonText
    }

    .stepIndicator{
      height: 8px;
      width: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        &.current{
          background: #26675B;
        }
        &.step{
          background: rgba(38,103,91,0.50);
        }
      }

    }
  }

  .categoryList{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    .category{
      width: 150px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        width: 92px;
        height: 92px;
      }
      span{
        @extend .body1;
        font-size: 16px;
      }
    }
  }

  .thankPage{
    .thankContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 220px;
      margin-top: 50px;
      .owl{
        width:80px;
      }
    }
    .buttonContainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 90px;
      margin-top: 50px;

      button{
        width: 200px!important;
      }
    }
  }

}


#statusView{
  background-size: 100%;
  .headerContainer{
    height: 80px;
    display: flex;
    align-items: center;
  }
  .title{
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    left: -24px;
    width: 110px;
    justify-content: space-between;
  }
  .progressBar{
    height: 40px;
    .highlightBar{
      height: 100%;
      display: flex;
      align-items: center;
      text-transform: capitalize;
      span{
        color: rgba(255,255,255,.9);
        position: relative;
        left: 20px;
      }
    }
  }
}




#mapUIView{
  .mapToggle{
    position: absolute;
    z-index: 10;
    right:0px;
  }
  .commentCard{
    position: absolute;
    z-index: 10;
    bottom: 0px;
    width: 100%;
    margin: 0px;
  }
}




// Text style


.header{
  font-weight: 600;
  font-size: 24px;
  color: rgba(0,0,0,0.87);
  line-height: 31px;
  margin: 0px;
}


.subHeader{
  font-weight: 400;
  font-size: 16px;
  color: rgba(0,0,0,0.54);
  line-height: 24px;
  margin: 0px;
}

.subHeader2{
  @extend .subHeader;
  font-weight: 600;
}

.body1{
  font-weight: 400;
  font-size: 15px;
  color: rgba(0,0,0,0.87);
  line-height: 20px;
}

.caption{
  font-weight: 400;
  font-size: 12px;
  color: rgba(0,0,0,0.54);
  line-height: 16px;
}

.buttonText{
  font-weight: 500;
  font-size: 14px;
  color: rgba(0,0,0,0.87);
  letter-spacing: 0;
  line-height: 24px;
  text-transform: uppercase;
}


/*----claudia---*/
/*----mapview---*/

#mapUIView .mapToggle{

  margin-top: 16px;
  margin-right: 16px;
  opacity: 0.7;

}

.mapToggle span{
  color:rgba(38,103,91,1) !important;
}

/*----mapview--end-*/

/*----commetCard---*/

.commentCard:nth-of-type(1) .flex .contentLeft .category{

color:#c75448;

}

.commentCard:nth-of-type(2) .flex .contentLeft .category{

color:#4c6c4c;

}
.commentCard:nth-of-type(3) .flex .contentLeft .category{

color:#32717f;

}
.commentCard:nth-of-type(4) .flex .contentLeft .category{

color:#f89f1b;

}
.commentCard:nth-of-type(5) .flex .contentLeft .category{

color:#123f39;

}
.commentCard:nth-of-type(6) .flex .contentLeft .category{

color:#f89f1b;

}
.commentCard:nth-of-type(7) .flex .contentLeft .category{

color:#f16722;

}
.commentCard:nth-of-type(8) .flex .contentLeft .category{

color:#c75448;

}
.commentCard:nth-of-type(9) .flex .contentLeft .category{

color:#f16722;

}

/*----commetCard--end---*/


/*----claudia--end---*/
