@import url('https://js.arcgis.com/4.6/esri/css/main.css');

html,body, #root{
  height: 100%;
  width: 100%;
}

.map-view{
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.page{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.subPage{
  height: 100%;
  width: 100%;
}

#splashView{
  display: flex;
  flex-direction: column;
}

.show{
  display: block;
}

.hidden{
  display: none;
}

.commentCard {
  .cardActions{
    button{
      width: 50%;
      margin: 0px!important;
    }
    .material-icons{
      font-size: 15px!important;
    }
  }
}

#mapUIView{
  .mapToggle{
    position: absolute;
    z-index: 10;
    right:0px;
  }
  .commentCard{
    position: absolute;
    z-index: 10;
    bottom: 0px;
    width: 100%;

  }
}
